.player-container {
  position: relative;
 
  margin-bottom: 5px;
}

.player {
  width: 35px; 
  height: 35px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* #Player-1 { 
  z-index: 4; 
  left: 25px;
  top: 7px;
  position: absolute;
}
#Player-2 { 
  z-index: 4; 
  left: 15px;
  top: 7px;
  position: absolute;
}
#Player-3 { 
  z-index: 4; 
  left: 5px;
  top: 7px;
  position: absolute;
}
#Player-4 { 
  z-index: 4; 
  left: -10px;
  top: 7px;
  position: absolute;
} */

.highlighted {
  background-color: #ffd700; 
  border: 2px solid #ff9900;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}

.current-player {
  background-color: #ffa500; 
  border: 2px solid #f00;
}