.game-container {
  display: flex;
  align-items: center; 
}

.board-container {
  flex: 2;
  margin-right: 20px;
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-top: 10px;
}

.player-container {
  margin-right: 10px;
}

.player-image {
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.highlighted {
  background-color: #ffd700;
  border: 2px solid #ff9900;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}